{% extends 'tours/base.html' %}

{% block container %}
  <main class="container mt-3">
        <h1 class="display-5 mt-4">Летим из {{ departures }}</h1>
    <p class="mb-4">Найдено {{ num_tours }} туров, от {{ min_price }} до {{ max_price }} и от {{ min_night }} ночей до {{ max_night }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for k, v in tour_departure.items %}
            <div class="col-4">
                <div class="card mb-4">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img-top embed-responsive-item" src="{{ v.picture }}" alt=""/>
                    </div>
                    <div class="card-body">
                        <h2 class="h5 card-title">{{ v.title }}</h2>
                        <p class="card-text">{{ v.description }}</p>
                        <p class="btn btn-warning btn-sm">{{ v.date }}</p>
                        <p class="btn btn-warning btn-sm">{{ v.nights }} ночей</p>
                        <p class="btn btn-warning btn-sm">{{ v.price }} Р</p>
                        <p class="btn btn-warning btn-sm">{{ v.stars }}★</p>

                        <a href="{% url 'tour-view' k %}" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</main>